<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Amarante' rel='stylesheet'>
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   
   <style>
    body {
        font-family: 'Amarante';font-size: 22px;
    }

    table {
        background-color:  #e6ee9c;
        border: 1px solid black; 
    }

    td {
      text-align: center;
    }

</style>    
    <title>127.0.0.1:5000</title>

    <div class = "header1">
        <h1 style="background-color: #4a148c; color: white;" align="center" > EARS - Dashboard</h1>
        </div>
  
  </head>

  <body>
    <div class = "table">
      <TABLE BORDER=0 > 
        <tr><td>        
            <video width="340" height="250" controls>
                <source src="video1.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <br>
       
            </td>

            <td>
            <video width="340" height="250" controls>
                <source src="video2.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>

            </td>

            <td>
            <video width="340" height="250" controls>
                <source src="video3.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
      
            </td>
        </tr>  

        <tr>
            <td><center>Location : Swargate</center></td>
            <td><center>Location : Hadapsar</center></td>
            <td><center>Location : Kharadi</center></td>
        </tr>

        <tr><td>        
                <video width="340" height="250" controls>
                    <source src="video4.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </td>
    
             <td>
                <video width="340" height="250" controls>
                    <source src="video5.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
               </td> 
    
            <td>
                <video width="340" height="250" controls>
                    <source src="video6.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                    </video>
             </td>
          </tr>  

          <tr>
              <td>Location : Swargate</td>
              <td><center>Location : Hadapsar</center></td>
              <td><center>Location : Kharadi</center></td>
          </tr>
        </table>  
    </div>


<!--
     <ul class="collapsible">
          <li>
          <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
          <div class="collapsible-body"><span>Hey..................!</span></div>
          </li>
          <li>
          <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>
          <li>
          <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>
          </ul>
-->

 



    <!--JavaScript at end of body for optimized loading
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="icon.js"></script>
    -->
</body>
</html>
